<body>
  <div
    class="w-70 h-100 bg-amber-600 transition duration-300 ease-in-out transform hover:translate-y-2"
  >
    <img src="<%= imagePath %>" class="w-full h-[80%]" />

    <div
      class="w-full h-[20%] pl-5 flex flex-col justify-center bg-purple-600 font-iceland text-white"
    >
      <p class="text-2xl"><%= gameName %></p>
      <p>Rating: ****</p>
    </div>
  </div>
</body>
