<nav
  class="w-full h-fit md:h-20 bg-gray-600 text-white py-4 md:py-0 border border-black"
>
  <div
    class="h-full flex flex-col md:flex-row items-center justify-center md:justify-between max-w-6xl mx-auto gap-4 md:gap-0 px-4"
  >
    <div
      class="flex flex-col md:flex-row items-center gap-4 md:gap-10 font-nova-cut"
    >
      <a href="/" class="text-3xl md:text-4xl hover:text-black transition">
        Game Warehouse
      </a>

      <div
        class="flex items-center space-x-6 text-xl md:text-2xl font-iceland pt-2"
      >
        <a href="/" class="hover:text-black transition">Home</a>
        <a href="games" class="hover:text-black transition">Games</a>
        <a href="/genres" class="hover:text-black transition">Genres</a>
      </div>
    </div>

    <div class="flex items-center gap-2 text-xl md:text-2xl font-iceland pt-1">
      <p>Search</p>
      <form>
        <input
          type="text"
          id="searchBar"
          name="searchBar"
          class="h-6 bg-white rounded-2xl px-3 text-black text-sm"
        />
      </form>
    </div>
  </div>
</nav>
